* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Styles for header */
.header {
  background-color: #05161a;
  padding: 2em;
}

#name {
  color: #6da5c0;
  font-weight: 900;
  font-size: 2em;
}

.header-container {
  position: absolute;
  right: 1em;
  top: 1.5em;
}

.header-container ul {
  display: flex;
  flex-direction: row;
}

.header-container ul li {
  list-style-type: none;
  padding-right: 2em;
}

.header-container ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5em;
  color: #f5d7db;
  transition: all 0.15s ease-in-out;
}

.header-container .active {
  color: #fff;
  border: 2px solid #fff;
  padding: 0.2em;
  border-radius: 10px;
}

.header-container ul li a:not(.active):hover {
  color: #6da5c0;
  transform: scale(1.1);
}

/*Styels for main content*/
.content {
  flex: 1;
  background-color: #06142e;
}

/*Styles for About page*/
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  background: rgba(174, 169, 170, 0.1);
  padding: 1em;
  border-radius: 10px;
  margin: 1em auto;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.4);
  border: 1px solid transparent;
  transition: all 0.15s ease-in-out;
}

@keyframes border-animation {
  0% {
    border-color: transparent;
  }

  50% {
    border-color: whitesmoke;
  }

  100% {
    border-color: transparent;
  }
}

.about-container:hover {
  background: rgba(190, 187, 187, 0.1);
  animation: border-animation 3s infinite;
}

.initial-text p:first-of-type {
  color: white;
  font-weight: 600;
  font-size: 4em;
}

.initial-text p:nth-of-type(2) {
  color: rgb(183, 232, 210);
  font-size: 2em;
  font-weight: 600;
}

.initial-text #my-name {
  color: orange;
  text-shadow: 2px 4px 4px rgba(240, 94, 21, 0.3);
  font-size: inherit;
  font-weight: bold;
}

.about-container .about-me {
  color: lightgreen;
  margin-top: 2em;
  line-height: 2em;
}

.about-container .about-me .my-data {
  color: white;
}

/*Styles for Blog page*/
.blog-container h2 {
  color: whitesmoke;
  padding: 1em;
  letter-spacing: 0.5em;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-group {
  width: 80%;
  background-color: white;
  box-shadow: 0 2px 10px rgb(34, 247, 211);
  padding: 10px;
  margin-bottom: 2em;
  border-radius: 0.5em;
  opacity: 80%;
  transition: all 0.15s ease-in-out;
}

.blog-group:hover {
  opacity: 100%;
}

.blog-group h4 {
  text-align: center;
  margin-bottom: 0;
}

.blog-group .date {
  font-family: 'Roboto Slab', serif;
  color: #666;
  font-size: 0.8em;
  text-align: center;
  display: block;
}

.blog-content {
  font-family: 'Source Sans Pro', sans-serif;
}

/*Styles for Register page*/
.form-container {
  width: 50%;
  margin: 2em auto;
  background: linear-gradient(45deg, #bd83b8, #27497b);
  padding: 1em 3em;
  border-radius: 1em;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.4);
  color: black;
  font-weight: 500;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #06142e;
}

.form-container .form-group {
  margin-bottom: 1em;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 0.5em;
}

.form-container .form-group input {
  width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container .form-group input:focus {
  border-color: black;
  border-width: 2px;
  outline: none;
}

.form-container .btn-container {
  text-align: center;
}

.form-container .btn {
  padding: 1em;
  color: #f5d7db;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  font-weight: bold;
  background-color: #06142e;
  transition: all 0.15s ease-in-out;
}

.form-container .btn:hover {
  cursor: pointer;
  background-color: #f5d7db;
  color: #06142e;
}

.form-container .btn:active {
  background-color: #06142e;
  color: #f5d7db;
}

/* Styles for footer */
.footer {
  background-color: #05161a;
  padding: 2em;
}

.footer-container {
  display: flex;
  flex-direction: row;
  padding-left: 2em;
  justify-content: space-around;
}

.footer-container .items {
  color: #f5d7db;
  font-size: 2em;
  text-align: center;
}

.footer-container ul {
  padding-top: 1em;
  padding-right: 1em;
}

.footer-container ul li {
  list-style: none;
  padding-bottom: 0.5em;
  padding-left: 1em;
}

.footer-container ul li a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #e3a9df;
  transition: all 0.15s ease-in-out;
}

.footer-container ul li a:hover {
  color: white;
}

.mobile ul li a:hover::before {
  position: absolute;
  margin-left: -2.8em;
  content: "Dial:";
  color: #bd83b8;
}

#reserved {
  text-align: center;
  color: #f5d7db;
  font-weight: bold;
  font-family: monospace;
  padding-top: 2em;
  font-size: 1.2em;
}

/* Large screens */
@media (min-width: 1200px) {
  .header-container ul li a {
    font-size: 1.5em;
  }

  .footer-container .items {
    font-size: 2em;
  }
}

/* Tablet */
@media (max-width: 992px) {
  #name {
    font-size: 1.2em;
  }

  .header-container {
    right: 1em;
  }

  .header-container ul {
    flex-direction: row;
    align-items: flex-end;
  }

  .footer-container {
    flex-direction: column;
    padding-left: 0;
    align-items: center;
  }

  .footer-container ul li {
    padding-left: 0;
    text-align: center;
  }

  #reserved {
    font-size: 1em;
    padding-top: 1em;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .header {
    padding: 1em;
    text-align: center;
  }

  .header-container {
    position: static;
    text-align: center;
  }

  .header-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 1em;
  }

  .header-container ul li {
    padding: 0.5em 0;
  }

  .header-container ul li a {
    font-size: 1.2em;
  }

  .about-container {
    font-size: 0.5em;
  }

  .footer {
    padding: 1.5em;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-container .items {
    font-size: 1.5em;
  }

  .footer-container ul {
    padding: 0;
  }

  .footer-container ul li {
    padding-bottom: 0.5em;
    text-align: center;
  }

  .footer-container ul li a {
    font-size: 0.9em;
  }

  #reserved {
    font-size: 0.9em;
    padding-top: 1em;
    text-align: center;
  }
}